{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<h1>Bienvenue sur notre blog sur les livres!</h1>
    <p>
        Vixscripta scelerisque esse vivamus.  Purusexplicari detraxit minim semper dicant instructior partiendo vivendo novum.
Fringillarutrum quidam gubergren contentiones laoreet fuisset labores morbi reformidans signiferumque petentium.  Persecutirecteque aliquam interdum montes ac.  Detraxitdetracto scripserit maximus luptatum tractatos mazim verterem dico ei eleifend quidam persecuti vero no condimentum detraxit ultricies suscipiantur.
Senectusa montes donec vocent.  Morbimauris inciderint reque.  Expetendisefficitur eirmod urbanitas ne.
    </p>
{% endblock %}
